* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
  .btn + .btn {
    margin-left: 1rem; }

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3); }

@media screen and (min-width: 64em) {
  .btn {
    padding: 0.75rem 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem; } }

@media screen and (max-width: 42em) {
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem; }
    .btn + .btn {
      margin-top: 1rem;
      margin-left: 0; } }

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem; } }

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem; }

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem; } }

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem; } }

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem; } }

.main-content :first-child {
  margin-top: 0; }
.main-content img {
  max-width: 100%; }
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
  color: #159957; }
.main-content p {
  margin-bottom: 1em; }
.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }
  .main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }
.main-content .highlight {
  margin-bottom: 1rem; }
  .main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }
.main-content .highlight pre, .main-content pre {
  padding: 0.8rem;
  overflow: auto;
  font-size: 0.9rem;
  line-height: 1.45;
  border-radius: 0.3rem; }
.main-content pre code, .main-content pre tt {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0; }
  .main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }
.main-content ul, .main-content ol {
  margin-top: 0; }
.main-content blockquote {
  padding: 0 1rem;
  margin-left: 0;
  color: #819198;
  border-left: 0.3rem solid #dce6f0; }
  .main-content blockquote > :first-child {
    margin-top: 0; }
  .main-content blockquote > :last-child {
    margin-bottom: 0; }
.main-content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; }
  .main-content table th {
    font-weight: bold; }
  .main-content table th, .main-content table td {
    padding: 0.5rem 1rem;
    border: 1px solid #e9ebec; }
.main-content dl {
  padding: 0; }
  .main-content dl dt {
    padding: 0;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: bold; }
  .main-content dl dd {
    padding: 0;
    margin-bottom: 1rem; }
.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0; }

@media screen and (min-width: 65em) {
  .main-content {
    max-width: 65rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem; } }

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem; } }

.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px #eff0f1; }

.site-footer-owner {
  display: block;
  font-weight: bold; }

.site-footer-credits {
  color: #819198; }

@media screen and (min-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .site-footer {
    font-size: 1rem; } }

@media screen and (max-width: 42em) {
  .site-footer {
    font-size: 0.9rem; } }
/*公用css*/


.hidden{display:none;}
.ipt{ width:100%}
.ipt60{ width:60px}
.ipt90{ width:90px}
.ipt100{ width:100px}
.ipt120,.select120{ width:120px}
.select100{ width:100px}
.w150{ width:150px}
.w200{ width:200px;}
.w220{ width:220px;}
.rad{color:#3c6861 !important}
.gay { color:#a0a0a0 !important}
.gay_ccc{color:#ccc !important}
.yellow{color:#ff6000 !important}
.green{color:#2b7d72 !important}
.Left{ text-align: left;}
.Right{ text-align: right;}
.Center{ text-align: center;}
input {outline:none}
input[type=button],a[type=button],input[type=submit]{ display:inline-block; +zoom:1; +display:inline; padding:0px; height:26px; background:#3c6861; border:#3c6861 solid 1px; color:#fff; text-align: center; font-size:14px; border-radius:3px; margin:0 3px; font-family:"Microsoft YaHei"; cursor:pointer;text-indent: 0;}
input[disabled],a[disabled]{ background:#fafafa;border-color: #e0e0e0; color:#a0a0a0}
input[type=checked]{ border:none }
a[type=button]{ line-height:26px;}
.btn120{ width:120px}
.btn90{ width:90px}
.btn60{width:60px}
.pad10{ padding:10px;}
.padL10{ padding-left:10px}
.pad0050{ padding:0 50px !important}
.mgT10 { margin-top:10px;}
.mgT20{ margin-top:20px;}
.mgB10 { margin-bottom:10px;}
.mgB20 { margin-bottom:20px;}
.mg10{ margin:10px }
.mgR10{ margin-right:10px}
.mgR20{ margin-right:20px;}
.f14{font-size: 14px}
.iss-lineBox{ border:#d4d4d4 solid 1px; padding:10px; background: #fff;}
.bg-fff{ background:#fff;}
textarea { font-size:12px}
input,select,textarea{ border:none;border:#d4d4d4 solid 1px; height:18px; line-height:18px ;padding:3px 2px}
select{padding:0; height:24px; border:none;border:#d4d4d4 solid 1px;}
input[type=radio],input[type=checkbox]{ margin-left:10px}
input[type=radio]:first-child ,input[type=checkbox]:first-child { margin-left:0}

label.error { background:#fff; border:#ccc solid 1px; padding:2px}
.errorParent .combo-error{border-color:#ffa8a8;}
.errorParent .combo-error input{background:#fff3f3; }

.center{clear:both;height:0px;line-height:0px;font-size:0px;}
.left{float:left;}
.right{float:right;}
.red{color:#3c6861;}
.yellow{ color:#ff6000}
.fff{color:#fff;}
.fffa{color:#fff;}
.h30{height:30px;}
.h50{height:50px;}
.h70{height:70px;}
.clr:after{ zoom:1;}
.clr:after{ clear: both;display: block;visibility: hidden;overflow: hidden;content:"";height: 0;}